p {
  font-family: 'Oxygen', sans-serif;
  font-size: 25px;

}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 80px;
  font-weight: bold;
  text-align: center;
  color: #2B6B2D;
}

h2 {
  font-size: 50px;
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-weight: bold;
  text-shadow: 1px 1px;
  color: #2B6B2D;
}

h3, h4{
  font-family: 'Cormorant Garamond', serif;
  text-align: center;
  font-size: 30px;
  color: #7600F5;
}

img {
  max-width: 100%;
  height: auto;
  border: 2px solid #8AD100;
}

figcaption {
  border: 1px;
  font-size: 20px;
  font-weight: normal;
  color: #2E109E;
}

a:link {
  color: #109E14;
  background-color: transparent;
  text-decoration: none;
}

#image1{
  align-content: center;
}

#image2{
  float: right;
}

#image3 {
  float: left;
}

#image4{
  float: right;
}

#story {
  margin: 0 auto;
  font-weight: normal;
}
